 
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}
 
.vwheader{
    background-image: url('../img/LogoVWMaskeKlein.png');
    height: 70px;
    background-color: #001d50;
    background-repeat: no-repeat;
    background-position: 30px;
    background-size: 270px 40px;
}

h3{
    padding-top: 30px;
}

